*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
} h1{
  padding-left: 34%;
} input{
  border-radius: 9px;
  padding-left: 5px;
  margin-bottom: 5px;
}